<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/home">
                <span class="brand-name">Sam1 Flower Shop</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/reviews">Reviews</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" onclick="return confirmLogout();">Logout</a>
                    </li>
                    
                    <script>
                        function confirmLogout() {
                            return confirm("Are you sure you want to log out?");
                        }
                    </script>
                    
                </ul>
            </div>
            <form class="d-flex search-form" action="/search" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search products" aria-label="Search" name="query" required>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            
        </div>
    </nav>
</header>
